<div class="main-div">
  <mat-card class="card-content"
    >This app was developed by Udhay in Modern Web Meetup held at Pendo.io in
    Raleigh.
  </mat-card>
</div>
<div class="sub-div">
  <a href="https://twitter.com/askudhay"><img src="/assets/tweet.png" /></a>
</div>
