.main-div {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-div {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 75%;
    font-size: 1.75em;
    line-height: 1.75em;
  }
  